## Libraries and dataframe

In [ ]:
#context
# https://apublica.org/2019/01/brasil-registra-mais-de-tres-acidentes-em-barragens-por-ano/

In [ ]:
#details Risco e Dano Potencial Associado

In [11]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_excel('relatorio_barragens_2.xlsx')

In [55]:
df.head(3)
len(df)

19451

In [66]:
df.dtypes

Código_SNISB                      int64
Nome_da_Barragem                 object
Nome_Secundário                  object
Uso_Principal                    object
UF                               object
Município                        object
Categoria_de_Risco               object
Dano_Potencial_Associado         object
Nome_do_Empreendedor             object
Órgăo_Fiscalizador               object
Código_Barragem_Fiscalizador     object
Regulada_pela_PNSB               object
Número_da_Autorizaçăo            object
Possui_PAE                       object
Possui_Plano_de_Segurança        object
Possui_Revisăo_Periódica         object
Data_da_Última_Fiscalizaçăo     float64
Barragem_Autuada                 object
Altura_Fundaçăo_m               float64
Altura_Terreno_m                float64
Capacidade_hmł                  float64
Tipo_de_Material                 object
Uso_Complementar                 object
Classe_de_Resíduo                object
Curso_Dágua_Barrado              object
Regiăo_Hidrográfica              object
Unidade_de_Gestăo                object
Domínio_do_Curso_Dágua           object
Data_da_Última_Inspeçăo          object
Tipo_da_Última_Inspeçăo          object
Nível_de_Perigo_Global           object
Possui_Eclusa                    object
Fase_da_Vida                     object
Latitude                        float64
Longitude                       float64
dtype: object

## Exploring columns

In [35]:
#columns
df.columns

Index(['Código_SNISB', 'Nome_da_Barragem', 'Nome_Secundário', 'Uso_Principal',
       'UF', 'Município', 'Categoria_de_Risco', 'Dano_Potencial_Associado',
       'Nome_do_Empreendedor', 'Órgăo_Fiscalizador',
       'Código_Barragem_Fiscalizador', 'Regulada_pela_PNSB',
       'Número_da_Autorizaçăo', 'Possui_PAE', 'Possui_Plano_de_Segurança',
       'Possui_Revisăo_Periódica', 'Data_da_Última_Fiscalizaçăo',
       'Barragem_Autuada', 'Altura_Fundaçăo_m', 'Altura_Terreno_m',
       'Capacidade_hmł', 'Tipo_de_Material', 'Uso_Complementar',
       'Classe_de_Resíduo', 'Curso_Dágua_Barrado', 'Regiăo_Hidrográfica',
       'Unidade_de_Gestăo', 'Domínio_do_Curso_Dágua',
       'Data_da_Última_Inspeçăo', 'Tipo_da_Última_Inspeçăo',
       'Nível_de_Perigo_Global', 'Possui_Eclusa', 'Fase_da_Vida', 'Latitude',
       'Longitude'],
      dtype='object')

In [96]:
'''for col in df.columns:
    count = df[col].value_counts()
    print(col, count)'''

'for col in df.columns:\n    count = df[col].value_counts()\n    print(col, count)'

In [61]:
df.Uso_Principal.value_counts()

Irrigaçăo                             7944
Dessedentaçăo Animal                  4440
Abastecimento humano                  1578
Regularizaçăo de vazăo                1261
Aquicultura                           1192
Hidroelétrica                         1069
Contençăo de rejeitos de mineraçăo    1052
Industrial                             474
Recreaçăo                              272
Proteçăo do meio ambiente               54
Contençăo de resíduos industriais       46
Combate ŕs secas                        36
Defesa contra inundaçőes                22
Paisagismo                               8
Navegaçăo                                2
Contençăo de Sedimentos                  1
Name: Uso_Principal, dtype: int64

In [62]:
print(len(df.UF.unique()))
df.UF.value_counts() #27 states and 1 nan

28

RS    10955
MG      883
TO      830
MS      747
SP      659
RN      645
PB      610
PR      543
BA      491
GO      373
MT      372
PA      371
PE      330
CE      302
AC      193
SC      192
RO      171
ES      143
DF      116
AL      113
MA       81
RJ       70
PI       61
SE       54
AM       51
RR       33
AP       25
Name: UF, dtype: int64

In [49]:
df[df['UF'] == 'nan'] # TODO where is the nan value?

Empty DataFrame
Columns: [Código_SNISB, Nome_da_Barragem, Nome_Secundário, Uso_Principal, UF, Município, Categoria_de_Risco, Dano_Potencial_Associado, Nome_do_Empreendedor, Órgăo_Fiscalizador, Código_Barragem_Fiscalizador, Regulada_pela_PNSB, Número_da_Autorizaçăo, Possui_PAE, Possui_Plano_de_Segurança, Possui_Revisăo_Periódica, Data_da_Última_Fiscalizaçăo, Barragem_Autuada, Altura_Fundaçăo_m, Altura_Terreno_m, Capacidade_hmł, Tipo_de_Material, Uso_Complementar, Classe_de_Resíduo, Curso_Dágua_Barrado, Regiăo_Hidrográfica, Unidade_de_Gestăo, Domínio_do_Curso_Dágua, Data_da_Última_Inspeçăo, Tipo_da_Última_Inspeçăo, Nível_de_Perigo_Global, Possui_Eclusa, Fase_da_Vida, Latitude, Longitude]
Index: []

[0 rows x 35 columns]

In [63]:
df.Município.value_counts() #TODO check the population data per Município

URUGUAIANA             465
CACHOEIRA DO SUL       284
SĂO BORJA              278
ALEGRETE               264
DOM PEDRITO            255
                      ...
PARANATAMA               1
SALTO DO LONTRA          1
JARDINÓPOLIS             1
VARGEM BONITA            1
SĂO BENEDITO DO SUL      1
Name: Município, Length: 2489, dtype: int64

In [60]:
df.Categoria_de_Risco.value_counts()

Năo Classificado    12391
Baixo                1807
Alto                 1659
Médio                1406
Năo se Aplica         963
Name: Categoria_de_Risco, dtype: int64

In [56]:
print(len(df[df['Categoria_de_Risco'] == 'Năo Classificado'])) # TODO where is the nan value?
'''a big proportion of the data is unclassified has category of risk unclassified'''
print((len(df[df['Categoria_de_Risco'] == 'Năo Classificado']))/len(df))

12391
0.6370366562130482

In [64]:
df.Dano_Potencial_Associado.value_counts()

Năo Classificado    11030
Alto                 3445
Baixo                2871
Médio                 880
Name: Dano_Potencial_Associado, dtype: int64

In [69]:
df.Nome_do_Empreendedor.value_counts()

CMPC Celulose Riograndense Ltda                                          174
Departamento Nacional de Obras Contra as Secas - DNOCS                   121
Departamento Nacional de Obras Contra as Secas                           120
COMPANHIA DE DESENVOLVIMENTO DOS VALES DO SAO FRANCISCO E DO PARNAIBA    105
Agęncia Tocantinense de Saneamento                                        99
                                                                        ...
PREFEITURA MUNICIPAL DE BRAGANEY                                           1
Tsutomu Joume Hirakawa                                                     1
DANIEL ANVERSA - FAZENDA BOA SORTE                                         1
Prefeitura Municipal de Tauá                                               1
Silvio Nunes                                                               1
Name: Nome_do_Empreendedor, Length: 2784, dtype: int64

In [70]:
df.Órgăo_Fiscalizador.value_counts()

RS - Secretaria de Meio Ambiente e Infraestrutura - SEMA                            10864
Agęncia Nacional de Energia Elétrica - ANEEL                                         1069
Agęncia Nacional de Mineraçăo - ANM                                                  1057
TO - Instituto Natureza do Tocantins ż NATURATINS                                     797
MS - Instituto de Meio Ambiente do Mato Grosso do Sul ż IMASUL                        688
RN - Instituto de Gestăo das Águas do Estado do Rio Grande do Norte - IGARN           604
PB - Agęncia Executiva de Gestăo das Águas da Paraíba ż AESA                          568
PR - Instituto das Águas do Paraná - AGUASPARANÁ                                      477
SP - Departamento de Águas e Energia Elétrica ż DAEE                                  408
BA - Instituto de Meio Ambiente e Recursos Hídricos - INEMA                           391
PE - Agęncia Pernambucana de Águas e Clima - APAC                                     296
CE - Secretaria dos Recursos Hídricos do Ceará ż SRH                                  289
GO - Secretaria de Meio Ambiente e Desenvolvimento Sustentável ż SEMAD                263
Agęncia Nacional de Águas - ANA                                                       203
MG - Instituto Mineiro de Gestăo das Águas ż IGAM                                     203
AC - Instituto de Meio Ambiente do Acre - IMAC                                        193
PA - Secretaria de Estado de Meio Ambiente e Sustentabilidade - SEMAS                 186
MT - Secretaria de Estado do Meio Ambiente ż SEMA                                     175
ES - Agęncia Estadual de Recursos Hídricos - AGERH                                    110
AL - Secretaria de Estado do Meio Ambiente e dos Recursos Hídricos - SEMARH           105
DF - Agęncia Reguladora de Águas, Energia e Saneamento Básico do DF ż ADASA           103
RO - Secretaria de Estado do Desenvolvimento Ambiental - SEDAM                         92
MA - Secretaria de Estado do Meio Ambiente e Recursos Naturais ż SEMA                  75
PI ż Secretaria do Meio Ambiente e Recursos Hídricos - SEMAR                           54
SE - Secretaria de Estado de Desenvolvimento Urbano e Sustentabilidade - SEDURBS       42
SC - Secretaria de Estado do Desenvolvimento Econômico Sustentável ż SDS               38
AM - Instituto de Proteçăo Ambiental do Amazonas - IPAAM                               29
RR - Fundaçăo Estadual do Meio Ambiente e Recursos Hídricos de Roraima - FEMARH        23
MG - Secretaria de Estado de Meio Ambiente e Desenvolvimento Sustentável ż SEMAD       22
RJ - Instituto Estadual do Ambiente - INEA                                             18
AP - Instituto do Meio Ambiente e de Ordenamento Territorial do Amapá - IMAP            6
SP - Companhia Ambiental do Estado de Săo Paulo - CETESB                                2
Comissăo Nacional de Energia Nuclear - CNEN                                             1
Name: Órgăo_Fiscalizador, dtype: int64

In [71]:
df.Código_Barragem_Fiscalizador.value_counts() #TODO drop column

0.0                                            788
SEM INFORMAÇĂO                                  24
6306-2013-A                                     21
2432-2006                                       16
930-2008                                        14
                                              ...
1158/07                                          1
PN1_57824843653_201932399_2019323992_1.zip       1
0886/11                                          1
60410500074                                      1
SF7_12007978687_201926874_20192687415_2.zip      1
Name: Código_Barragem_Fiscalizador, Length: 4350, dtype: int64

In [72]:
df.Regulada_pela_PNSB.value_counts()

Năo Classificada    11829
Sim                  5380
Năo                  2242
Name: Regulada_pela_PNSB, dtype: int64

In [73]:
df.Número_da_Autorizaçăo.value_counts() #TODO drop column

0                           1100
33.592.510/0005-88            99
uso insignificante            82
IMASUL - L.O n° 482/2012      31
IMASUL - L.O n° 237/2013      28
                            ...
1502/13                        1
1624/2019                      1
1021/08                        1
0325/2011                      1
146/19                         1
Name: Número_da_Autorizaçăo, Length: 5763, dtype: int64

In [74]:
df.Possui_PAE.value_counts() #TODO discover what is PAE

Năo    19317
Sim      134
Name: Possui_PAE, dtype: int64

In [75]:
df.Possui_Plano_de_Segurança.value_counts() #TODO discover what that means

Năo    19257
Sim      194
Name: Possui_Plano_de_Segurança, dtype: int64

In [76]:
df.Possui_Revisăo_Periódica.value_counts()

Năo    19449
Sim        2
Name: Possui_Revisăo_Periódica, dtype: int64

In [82]:
df.Data_da_Última_Fiscalizaçăo #TODO drop the col

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
19446   NaN
19447   NaN
19448   NaN
19449   NaN
19450   NaN
Name: Data_da_Última_Fiscalizaçăo, Length: 19451, dtype: float64

In [121]:
print(len(df))
df.Barragem_Autuada.value_counts()

19451

Năo    19451
Name: Barragem_Autuada, dtype: int64

In [85]:
df.Altura_Fundaçăo_m.value_counts()

0.00     384
5.00     329
6.00     315
4.00     260
7.00     225
        ...
8.21       1
12.18      1
2.54       1
5.61       1
4.98       1
Name: Altura_Fundaçăo_m, Length: 866, dtype: int64

In [86]:
df.Altura_Terreno_m.value_counts()

5.00     418
4.00     338
6.00     332
3.00     310
2.00     269
        ...
4.54       1
3.21       1
19.10      1
26.15      1
9.56       1
Name: Altura_Terreno_m, Length: 1005, dtype: int64

In [87]:
df.Capacidade_hmł.value_counts()

0.001      1463
0.000      1201
0.002       905
0.003       619
0.004       435
           ...
0.764         1
3.718         1
4.649         1
2.441         1
640.000       1
Name: Capacidade_hmł, Length: 3110, dtype: int64

In [88]:
df.Tipo_de_Material.value_counts()

Sem Informaçăo                      13266
Terra                                4710
Alvenaria                             642
Concreto ciclópico                    321
Concreto compactado a rolo (CCR)      258
Concreto convencional                 105
Rejeitos                               47
Enrocamento                            28
Terra-enrocamento                      26
Outros                                 22
Name: Tipo_de_Material, dtype: int64

In [89]:
df.Uso_Complementar.value_counts() #Recreation?

Industrial                            659
Dessedentaçăo Animal                  502
Irrigaçăo                             443
Aquicultura                           119
Regularizaçăo de vazăo                107
Recreaçăo                              94
Abastecimento humano                   91
Combate ŕs secas                       69
Defesa contra inundaçőes               21
Proteçăo do meio ambiente               9
Hidroelétrica                           9
Contençăo de rejeitos de mineraçăo      3
Contençăo de resíduos industriais       1
Name: Uso_Complementar, dtype: int64

In [90]:
df.Classe_de_Resíduo.value_counts()

A     704
D     373
C     214
B     194
E     162
B       1
Name: Classe_de_Resíduo, dtype: int64

In [97]:
df.Curso_Dágua_Barrado.value_counts() #drop the column

SEM NOME              4438
Rio Jacuí              232
Rio Uruguai            163
Arroio Araçá           123
Rio da Várzea          116
                      ...
Rio Amoragi              1
Córrego Pau-preto        1
Igarapé da Pimenta       1
Lajeado Capoeira         1
Rio José Pedro           1
Name: Curso_Dágua_Barrado, Length: 3281, dtype: int64

In [98]:
df.Regiăo_Hidrográfica.value_counts()

Regiăo Hidrográfica do URUGUAI                      5996
Regiăo Hidrográfica ATLÂNTICO SUL                   5154
Regiăo Hidrográfica do PARANÁ                       2252
Regiăo Hidrográfica ATLÂNTICO NORDESTE ORIENTAL     1747
Regiăo Hidrográfica do TOCANTINS-ARAGUAIA           1179
Regiăo Hidrográfica do SĂO FRANCISCO                 841
Regiăo Hidrográfica AMAZÔNICA                        774
Regiăo Hidrográfica ATLÂNTICO SUDESTE                512
Regiăo Hidrográfica ATLÂNTICO LESTE                  466
Regiăo Hidrográfica do PARAGUAI                      302
Regiăo Hidrográfica do PARNAÍBA                       93
Regiăo Hidrográfica ATLÂNTICO NORDESTE OCIDENTAL      89
Name: Regiăo_Hidrográfica, dtype: int64

In [100]:
df.Unidade_de_Gestăo.value_counts().head(20) # TODO check if you want to drop

CBH do Rio Ibicuí                             1316
CBH do Rio Baixo Jacuí                         933
CBH dos Rios Taquari e Antas                   843
CBH do Rio Săo Francisco                       837
CBH do Rio Vacacaí e Vacacaí Mirim             807
CBH do Várzea                                  766
CBH dos Rios Turvo-Santa Rosa-Santo Cristo     688
CBH do Rio Camaquă                             677
CBH do Rio Piancó-Piranhas-Açu                 606
CBH de Santa Maria                             593
CBH do Rio Ijuí                                558
CBH da Lagoa Mirim e Canal Săo Gonçalo         464
CBH do Butuí-Icamaquă                          459
CBH do Rio Paranaíba                           446
CBH do Piratinim                               426
CBH do Rio Alto Jacuí                          408
CBH do Rio Quaraí                              352
CBH do Rio Apuaę-Inhandava                     341
CBH do Rio Grande                              307
CBH do Rio Paranapanema                        302
Name: Unidade_de_Gestăo, dtype: int64

In [103]:
df.Domínio_do_Curso_Dágua.value_counts() # TODO drop the col

Estadual    13975
Federal      5476
Name: Domínio_do_Curso_Dágua, dtype: int64

In [114]:
df.Data_da_Última_Inspeçăo.value_counts()

12/17/2019 00:00:00    8
05/07/2019 00:00:00    7
05/30/2019 00:00:00    7
01/15/2018 01:00:00    6
05/08/2019 00:00:00    6
                      ..
05/17/2019 00:00:00    1
01/28/2019 01:00:00    1
10/14/2019 00:00:00    1
12/14/2018 01:00:00    1
11/04/2019 01:00:00    1
Name: Data_da_Última_Inspeçăo, Length: 98, dtype: int64

In [115]:
df.Data_da_Última_Inspeçăo.value_counts().sum() #TODO check inspections

194

In [116]:
df.Tipo_da_Última_Inspeçăo.value_counts().sum()

194

In [117]:
df.Tipo_da_Última_Inspeçăo.value_counts()

Regular    194
Name: Tipo_da_Última_Inspeçăo, dtype: int64

In [118]:
df.Nível_de_Perigo_Global.value_counts()

Normal     111
Atençăo     63
Alerta      11
Name: Nível_de_Perigo_Global, dtype: int64

In [119]:
df.Possui_Eclusa.value_counts() #TODO discover the meaning

Năo    18698
Sim      753
Name: Possui_Eclusa, dtype: int64

In [120]:
df.Fase_da_Vida.value_counts() # TODO clean the data. null values here

Operaçăo              1980
Construçăo              27
Projeto                 15
Inativa                  6
1ş enchimento            3
Planejamento             3
Descomissionamento       2
Construçőes              1
Name: Fase_da_Vida, dtype: int64

In [67]:
df.columns

Index(['Código_SNISB', 'Nome_da_Barragem', 'Nome_Secundário', 'Uso_Principal',
       'UF', 'Município', 'Categoria_de_Risco', 'Dano_Potencial_Associado',
       'Nome_do_Empreendedor', 'Órgăo_Fiscalizador',
       'Código_Barragem_Fiscalizador', 'Regulada_pela_PNSB',
       'Número_da_Autorizaçăo', 'Possui_PAE', 'Possui_Plano_de_Segurança',
       'Possui_Revisăo_Periódica', 'Data_da_Última_Fiscalizaçăo',
       'Barragem_Autuada', 'Altura_Fundaçăo_m', 'Altura_Terreno_m',
       'Capacidade_hmł', 'Tipo_de_Material', 'Uso_Complementar',
       'Classe_de_Resíduo', 'Curso_Dágua_Barrado', 'Regiăo_Hidrográfica',
       'Unidade_de_Gestăo', 'Domínio_do_Curso_Dágua',
       'Data_da_Última_Inspeçăo', 'Tipo_da_Última_Inspeçăo',
       'Nível_de_Perigo_Global', 'Possui_Eclusa', 'Fase_da_Vida', 'Latitude',
       'Longitude'],
      dtype='object')

In [129]:
df.isnull().sum()

Código_SNISB                        0
Nome_da_Barragem                    0
Nome_Secundário                 17501
Uso_Principal                       0
UF                                 37
Município                          37
Categoria_de_Risco               1225
Dano_Potencial_Associado         1225
Nome_do_Empreendedor            12694
Órgăo_Fiscalizador                  0
Código_Barragem_Fiscalizador    12640
Regulada_pela_PNSB                  0
Número_da_Autorizaçăo           10299
Possui_PAE                          0
Possui_Plano_de_Segurança           0
Possui_Revisăo_Periódica            0
Data_da_Última_Fiscalizaçăo     19451
Barragem_Autuada                    0
Altura_Fundaçăo_m               12933
Altura_Terreno_m                12445
Capacidade_hmł                   2168
Tipo_de_Material                   26
Uso_Complementar                17324
Classe_de_Resíduo               17803
Curso_Dágua_Barrado                55
Regiăo_Hidrográfica                46
Unidade_de_Gestăo                2445
Domínio_do_Curso_Dágua              0
Data_da_Última_Inspeçăo         19257
Tipo_da_Última_Inspeçăo         19257
Nível_de_Perigo_Global          19266
Possui_Eclusa                       0
Fase_da_Vida                    17414
Latitude                            0
Longitude                           0
dtype: int64